@import url('https://fonts.googleapis.com/css?family=Montserrat');

.devise{
  font-family: 'Montserrat', sans-serif;
}

.commit{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #E41B3B;

}
